@import "src/prebuild/scss/variables";
@import "src/prebuild/scss/mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 7px;

  &__tabs {
    display: flex;
  }

  &__tab:not(:last-child) {
    margin-right: 15px;
  }

  &__btn {
    @include applyPreset(createPreset(18px, 500, 22px));

    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 25px -3px rgba($color-card-shadow, .25);

    padding: 9px 20px;

    background-color: var(--component-backgroud-default);
    color: var(--text-color-default);

    cursor: pointer;

    transition: .2s;
    &:hover, &.active {
      background-color: $primary;
      color: $color_white;
    }
  }
}