.root {
  position: relative;

  display: grid;
  gap: 30px;
  grid-template-columns: 400px 1fr;
  grid-template-areas:
      "ThisDay   ThisDayInfo"
      "Week      Week";

  &__loader {
    position: absolute;
    height: 100vh;
  }
}

.popup {
  display: grid;
  grid-template-columns: 30% 1fr;
}