@import "src/prebuild/scss/variables";
@import "src/prebuild/scss/mixins";

.root {
  grid-area: Week;

  &__week {
    display: grid;
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    gap: 20px;
    overflow: auto;

    justify-content: space-between;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    transform: rotateX(180deg);

    box-shadow: 2px -5px 25px -3px rgba($color-card-shadow, .25);

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $primary;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      outline: 1px solid $primary;
    }
  }
}